////////////////////////////////////////////////////
// Copyright (c) Gaia Platform Authors
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

#include "gaia/logger.hpp"

ruleset frequent_flyer
{
    {
        lifetime_miles += @flight_miles;
    }

    {
        if (@lifetime_miles > 1000)
        {
            member_level = "silver";
        }
    }

    on_update(flight.flight_status)
    {
        if (strcmp(flight.flight_status, "landed") == 0)
        {
            trip.segments_flown += 1;
        }
    }
}
