/////////////////////////////////////////////
// Copyright (c) 2022 Gaia Platform LLC
//
// Use of this source code is governed by an MIT-style
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
/////////////////////////////////////////////

#include <algorithm>
#include <atomic>

#include "gaia/logger.hpp"

#include "gaia_frequent_flyer.h"

using namespace gaia::frequent_flyer;

ruleset frequent_flyer_ruleset
{
}
