#include <gaia/logger.hpp>

ruleset hello_world_ruleset
{
    // Rule 1: Triggered every time a record is inserted in the table 'entity'.
    on_insert(entity)
    {
        gaia_log::app().info("{} inserted!", entity.name);

        // Insert a 'greeting' record which triggers 'Rule 2'.
        greeting.insert(name: entity.name);
    }

    // Rule 2: Triggered every time a record is inserted in the table 'greeting'.
    // [Try uncommenting the following lines and see how the program output changes]
    // on_insert(greeting)
    // {
    //     gaia_log::app().info("Hello {}!", greeting.name);
    // }
}
