// Copyright 2022 Gaia Platform, LLC
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.

#include "gaia_bot/gaia_bot.hpp"
#include "gaia/logger.hpp"

#include <sensor_msgs/msg/range.hpp>
#include <sstream>

using gaia_bot::GaiaBot;
using sensor_msgs::msg::Range;

ruleset gaia_bot
{
  on_change(range_sensors.distance)
  {
    gaia_log::app().info("range_sensor distance changed {}", range_sensors.distance);
  }
}
