////////////////////////////////////////////////////
// Copyright (c) Gaia Platform LLC
//
// Use of this source code is governed by the MIT
// license that can be found in the LICENSE.txt file
// or at https://opensource.org/licenses/MIT.
////////////////////////////////////////////////////

#include "gaia/logger.hpp"
#include "gaia_mqtt.h"

using namespace std;
using namespace gaia::mqtt;

void publish_message(const string& topic, const string& payload);

ruleset mqtt_ruleset
{
    on_insert(messages)
    {
        gaia_log::app().info("Triggered rule on topic: {} payload: {}", topic, payload);
    }
}
